[filament_switch_sensor Filament_sensor]
pause_on_runout: True
runout_gcode: M600
insert_gcode: FILAMENT_LOAD
switch_pin: SB2040:gpio18

[gcode_macro FILAMENT_LOAD]
variable_extrude_length: 90
variable_retract: 3.0
gcode:
    {% set target_temp = 222 %}
    {% set extruder_terget = printer["extruder"].target %}
    {% set current_temp = printer["extruder"].temperature %}
    {% set extrude_length = params.EXTRUDE_LENGTH|default(printer["gcode_macro FILAMENT_LOAD"].extrude_length)|float %}
    {% set retract = params.RETRACT|default(printer["gcode_macro FILAMENT_LOAD"].retract)|float %}

    {% if current_temp <= target_temp or current_temp >= target_temp + 1 %}
        M109 S{target_temp}
    {% endif %}

    {action_respond_info("Aktuální teplota je v přijatelném rozmezí")}

    G91
    {% for i in range((extrude_length // 90) | int) %}
        G1 E90 F100
    {% endfor %}
    G1 E{(extrude_length % 90) | float} F100

    ; 🔽 RETRAKCE po vložení filamentu
    G1 E-{retract} F300

    G90
    M400

    {% if extruder_terget > 0 %}
        M104 S{extruder_terget}
    {% else %}
        M104 S0
    {% endif %}

[gcode_macro M600]
description: Jednoduchá výměna filamentu během tisku s čištěním trysky
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE

    UNLOAD_FILAMENT
    CLEAN_PURGE_NOZZLE
    FILAMENT_LOAD

    {% if printer.pause_resume.is_paused %}
        RESUME
        { "RESPOND MSG=\"▶️ Tisk obnoven po výměně filamentu.\"" }
    {% else %}
        { "RESPOND MSG=\"ℹ️ Tisk nebyl pozastaven – RESUME přeskočeno.\"" }
    {% endif %}

    RESTORE_GCODE_STATE NAME=M600_state