[gcode_macro G32]
gcode:
  {% set temp_hotend = params.HOTEND|default(200)|int %}

   #SET_LED LED=sb_leds VALUE=1

  ; Bed MUSÍ být nahřátý už předtím
  M104 S{temp_hotend}        ; jen předehřej trysku (nečekej)

  G28                        ; jeden home stačí
  CLEAN_NOZZLE

  BED_MESH_CALIBRATE         ; → tvůj Eddy scan (plynule)

   #SET_LED LED=sb_leds VALUE=0.3

[gcode_macro PRINT_START]
gcode:
    {% set temp_bed = params.BED|int %}
    {% set temp_hotend = params.HOTEND|int %}

    # Začni nahřívat bed
    M140 S{temp_bed}

    # Tryska jen na čistící teplotu během meshe
    M104 S200

    # Počkej na bed
    M190 S{temp_bed}

    # Home + QGL/Gantry + mesh
    G32

    # Volitelné parkování
    G90
    G1 X248 Y40 Z20 F6000

    # Nahřej finální teplotu až po meshi
    M109 S{temp_hotend}

    # Purge / clean
    CLEAN_PURGE_NOZZLE

    G90

[gcode_macro _LDC_CALIBRATE_DRIVE_CURRENT]
gcode:
    BED_MESH_CLEAR
    SET_KINEMATIC_POSITION x=120 y=121 z=10
    G28 X Y
    M104 S0
    M140 S0
    M106 S0
    G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F6000
    G0 Z30 F600
    G4 P1000
    LDC_CALIBRATE_DRIVE_CURRENT CHIP=fly_eddy_probe 
    G4 P1000
    SAVE_CONFIG

[gcode_macro PROBE_EDDY_CURRENT_CALIBRATE_AUTO]
gcode:
    BED_MESH_CLEAR
    G28 X Y
    M104 S230
    M140 S90
    M106 S0
    G90 # Abs positioning
    G1 X{ printer.toolhead.axis_maximum.x/2 } Y{ printer.toolhead.axis_maximum.y/2 } F6000
    {% if 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z={ printer.toolhead.axis_maximum.z-1 } # Allows the user to work it down until it touches.
    {% endif %}
    PROBE_EDDY_CURRENT_CALIBRATE {rawparams}    

[gcode_macro PRINT_END]
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
#    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E0.2 F1800                 ; retract filament
    TURN_OFF_HEATERS
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    SET_PIN LED=sb_leds VALUE=0.1
    BED_MESH_CLEAR
#    RESTORE_GCODE_STATE NAME=STATE_PRINT_END 

[gcode_macro TEST_KALIBRACE_SROUBU_LED]
description: Testovací simulace výstupu kalibrace šroubů + LED indikace
gcode:
    SET_LED_EFFECT EFFECT=leveling
    M117 Testovaci vystup kalibrace

    {% set fake_screws = [
      {'name': 'predni levy sroub', 'direction': 'CW', 'turns': 0, 'minutes': 15},
      {'name': 'predni pravy sroub', 'direction': 'CCW', 'turns': 0, 'minutes': 5},
      {'name': 'zadni pravy sroub', 'direction': 'CW', 'turns': 1, 'minutes': 0},
      {'name': 'zadni levy sroub', 'direction': 'CCW', 'turns': 0, 'minutes': 30}
    ] %}

    {% for screw in fake_screws %}
      {% set total = screw.turns + (screw.minutes / 60.0) %}
      RESPOND MSG="{screw.name}: otoc {screw.direction} o {total|round(2)} otacky"
    {% endfor %}

    {% if 1.0 > 0.25 %}
      SET_LED_EFFECT EFFECT=level_error
      M117 Podlozka neni v toleranci
    {% else %}
      SET_LED_EFFECT EFFECT=level_ok
      M117 Podlozka je v toleranci
    {% endif %}

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: SCREWS_TILT_CALCULATE_BASE
gcode:
    status_leveling
    SCREWS_TILT_CALCULATE_BASE
    status_ready

[gcode_macro CALIBRATE_EDDY_TAP]
description: Complete Eddy TAP calibration sequence
gcode:
    {% set BED = params.BED|default(80)|int %}
    {% set HOTEND = params.HOTEND|default(150)|int %}

    # Nahřátí
    M117 Heating...
    M118 Heating...

    M140 S{BED}
    M104 S{HOTEND}

    M190 S{BED}
    M109 S{HOTEND}

    # Home
    G28

    BED_MESH_CLEAR

    #
    # 1. Initial guess
    #
    M117 Eddy: TAP guess
    M118 Eddy: TAP guess

    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=guess

    #
    # 2. Refine
    #
    M117 Eddy: TAP refine
    M118 Eddy: TAP refine

    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=refine

    #
    # 3. Verify
    #
    M117 Eddy: TAP verify
    M118 Eddy: TAP verify

    PROBE_EDDY_CURRENT_TAP_CALIBRATE TAP=verify

    #
    # Done
    #
    M117 Eddy calibration done
    M118 Eddy calibration done

    SAVE_CONFIG

[gcode_macro CALIBRATE_EDDY_PAPER]
description: Eddy paper calibration
gcode:
    {% set BED = params.BED|default(60)|int %}
    {% set HOTEND = params.HOTEND|default(150)|int %}

    # Nahřátí
    M117 Heating...
    M118 Heating...

    M140 S{BED}
    M104 S{HOTEND}

    M190 S{BED}
    M109 S{HOTEND}

    # Stabilizace bedu
    G4 P30000

    # Home
    G28

    BED_MESH_CLEAR

    # Přesun do středu
    G90
    G0 X129.5 Y122.5 F12000

    # Paper calibration
    M117 Eddy paper calibrate
    M118 Eddy paper calibrate

    PROBE_EDDY_CURRENT_CALIBRATE CHIP=fly_eddy_probe METHOD=paper

    # Hotovo
    M117 Eddy calibration done
    M118 Eddy calibration done 

[pause_resume]

[filament_switch_sensor Filament_sensor]
pause_on_runout: True
runout_gcode: M600
insert_gcode:
switch_pin: SB2040:gpio18

[gcode_macro M600]
description: Výměna filamentu při runoutu
gcode:
    {% set X = params.X|default(248)|float %}
    {% set Y = params.Y|default(40)|float %}
    {% set Z = params.Z|default(10)|float %}

    SAVE_GCODE_STATE NAME=M600_state

    RESPOND MSG="⚠️ Došel filament - pauza"

    PAUSE

    G91
    G1 E-0.8 F2700
    G1 Z{Z} F1200
    G90

    G1 X{X} Y{Y} F6000

    G91
    G1 E-50 F1000
    G90

    RESPOND MSG="➡️ Vlož nový filament a spusť FILAMENT_LOAD"

[gcode_macro FILAMENT_LOAD]
variable_extrude_length: 90
variable_retract: 3.0
gcode:
    {% set target_temp = 222 %}
    {% set extruder_target = printer.extruder.target %}
    {% set current_temp = printer.extruder.temperature %}
    {% set extrude_length = params.EXTRUDE_LENGTH|default(printer["gcode_macro FILAMENT_LOAD"].extrude_length)|float %}
    {% set retract = params.RETRACT|default(printer["gcode_macro FILAMENT_LOAD"].retract)|float %}

    {% if current_temp < target_temp %}
        M109 S{target_temp}
    {% endif %}

    G91

    {% for i in range((extrude_length // 90)|int) %}
        G1 E90 F100
    {% endfor %}

    G1 E{extrude_length % 90} F100

    G1 E-{retract} F300

    G90
    M400

    RESPOND MSG="✅ Filament zaveden. Stiskni RESUME."

[gcode_macro RESUME_PRINT]
gcode:
    RESTORE_GCODE_STATE NAME=M600_state MOVE=1
    RESUME  

#[gcode_macro CARICA_NOZZLE]
#description: Macro pro zavedení filamentu
#gcode:
#    {% set TEMPERATURA = params.TEMP|default(160)|int %}

#    {% if "xyz" not in printer.toolhead.homed_axes %}
#        G28
#    {% endif %}

#    G90
#    G1 X100 Y0 F1000

#    M109 S{TEMPERATURA}

#    M83
#    G1 E50 F300