[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_btt-skr-mini-e3-30-if00
# serial: /dev/ttyAMA0
# restart_method: command

[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu SB2040]
## CAN ID
## ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_uuid: 00c33dd3d179

[temperature_sensor U2C]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100
