[include moongate.cfg]

[include gab-3d-utilities.cfg]
#[include mainsail.cfg]

[include moonraker_obico_macros.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB2]
serial: /tmp/klipper_host_mcu

[include mcu.cfg]
[include SB2040.cfg]
#[include macros.cfg]
[include NozzleClean.cfg]
[include KNOMI.cfg]
#[include filament_macros.cfg]
#[include stealthburner_led_effects_3_leds.cfg]  
[include stealthburner_leds.cfg]  
#[include KAMP_Settings.cfg]
[include autotune_tmc.cfg]
[include shell_command.cfg]
##############################################################################################################

# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
variable_bed_surfaces: ['texture_1']
# Délka filamentu (v mm), která se má zavést při načítání filamentu.
variable_load_length: 40.0
# Hide the Octoprint LCD menu since I don't use it.
#variable_menu_show_octoprint: False
# Customize the filament menus (up to 10 entries).
#variable_menu_temperature: [{'name':'PLA','extruder':200.0,'bed':60.0},
#                            {'name':'PETG','extruder':222.0,'bed':85.0},
#                            {'name':'ABS','extruder':245.0,'bed':110.0,'chamber':60},
#                            {'name':'TPU','extruder':180.0,'bed':35.0}]
# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 15 # This value works for most setups.
gcode: # This line is required by Klipper.
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
#  ADJUST_SURFACE_OFFSETS

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
# [include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
# [include klipper-macros/optional/bed_mesh.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/config/variables.cfg # UPDATE THIS FOR YOUR PATH!!!

[virtual_sdcard]
path: /home/biqu/printer_data/gcodes # UPDATE THIS FOR YOUR PATH!!!
on_error_gcode: CANCEL_PRINT

[display_status]

##############################################################################################################

[exclude_object]

[gcode_arcs]
resolution: 0.1

[force_move]
enable_force_move: true

[probe_eddy_current fly_eddy_probe]
sensor_type: ldc1612
# Frekvence senzoru - 40MHz je standard pro FLY Eddy
frequency: 40000000

# I2C nastavení pro FLY-SB2040-PRO-V3
i2c_address: 43
i2c_mcu: SB2040
i2c_bus: i2c1b
i2c_speed: 400000

# Offsety - UPRAVIT podle skutečné polohy senzoru vůči trysce!
x_offset: 0
y_offset: -23.55

# Tvůj Klipper tento parametr vyžaduje pro detekci výšky
descend_z: 1.0

# Rychlost pohybu při snímání (mm/s)
speed: 35

# Nastavení vzorků
samples: 2
samples_result: median
# samples_tolerance: 0.05
# samples_tolerance_retries: 5
# sample_retract_dist: 2.0

# Z-offset - Tuto hodnotu přepíše SAVE_CONFIG po kalibraci
# Pro start nastavíme 0, dokud neprovedeme kalibraci
# z_offset: 0.0

[temperature_probe fly_eddy_probe]
sensor_type: Generic 3950
sensor_pin: SB2040:gpio28
horizontal_move_z: 1

[safe_z_home]
home_xy_position: 120 ,121     # xy 中心点坐标 计算方式：热床最大值除以2 自行进行调整
speed: 180                     # 归位速度
z_hop: 10                      # 归位之前抬升高度
z_hop_speed:10

[screws_tilt_adjust]    # BED_LEVEL_LED      # screws_tilt_adjust
screw1: 37, 50
screw1_name: přední levý šroub
screw2: 205, 50
screw2_name: přední pravý šroub
screw3: 205, 220
screw3_name: zadní pravý šroub
screw4: 37, 220
screw4_name: zadní levý šroub
horizontal_move_z: 10.0
speed: 180.0
screw_thread: CW-M4

[firmware_retraction]
retract_length: 0.8
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 15

[bed_mesh]
speed: 300
horizontal_move_z: 2
mesh_min: 35, 30
mesh_max: 210, 200
probe_count: 5,5
zero_reference_position: 120,121             # důležité pro Eddy
algorithm: bicubic     #bicubic lagrange
bicubic_tension: 0.5
split_delta_z: 0.025 # see: https://www.klipper3d.org/Bed_Mesh.html#move-splitting
mesh_pps: 3,3
adaptive_margin: 5
fade_start: 1.04
fade_end: 10
fade_target: 0

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0    #tmc2209_stepper_y:virtual_endstop     #^PC0
position_endstop: 0
position_min: 0
position_max: 259
homing_speed: 50
homing_retract_dist: 3

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
interpolate: true
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1               #tmc2209_stepper_y:virtual_endstop         #^PC1
position_endstop: 0
position_min: 0
position_max: 245
homing_speed: 50
homing_retract_dist: 3

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
interpolate: true
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -5
homing_speed: 10
second_homing_speed: 3

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
interpolate: true
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[extruder]
#control: pid
#pid_kp: 26.213
#pid_ki:1.304
#pid_kd: 131.721

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 10
max_temp: 130

#[heater_fan controller_fan]
#pin: PB15
#heater: heater_bed
#heater_temp: 45.0

#[heater_fan nozzle_cooling_fan]
#pin: PC7

#[fan]
#pin: PC6

[printer]
kinematics: corexy
max_velocity: 200
max_accel: 800
minimum_cruise_ratio: 0.5
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

# [output_pin beeper]
# pin: PB5

#[include autotune_tmc.cfg]

#[include KAMP_Settings.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current fly_eddy_probe]
#*# reg_drive_current = 14
#*# calibrate =
#*# 	0.265000:4426877.529,0.305000:4425646.871,0.345000:4424382.083,
#*# 	0.385000:4423146.877,0.425000:4421924.446,0.465000:4420695.394,
#*# 	0.505000:4419513.021,0.545000:4418338.351,0.585000:4417159.706,
#*# 	0.625000:4416025.143,0.665000:4414869.361,0.705000:4413732.499,
#*# 	0.745000:4412617.292,0.785000:4411529.981,0.825000:4410447.847,
#*# 	0.865000:4409373.403,0.905000:4408351.723,0.945000:4407324.213,
#*# 	0.985000:4406280.607,1.025000:4405222.733,1.065000:4404218.525,
#*# 	1.105000:4403255.239,1.145000:4402297.173,1.185000:4401336.964,
#*# 	1.225000:4400382.925,1.265000:4399436.213,1.305000:4398503.188,
#*# 	1.345000:4397613.097,1.385000:4396704.011,1.425000:4395804.487,
#*# 	1.465000:4394925.445,1.505000:4394066.024,1.545000:4393205.032,
#*# 	1.585000:4392353.229,1.625000:4391525.764,1.665000:4390685.607,
#*# 	1.705000:4389903.989,1.745000:4389089.871,1.785000:4388286.315,
#*# 	1.825000:4387516.450,1.865000:4386771.303,1.905000:4386055.641,
#*# 	1.945000:4385358.300,1.985000:4384670.157,2.025000:4383995.071,
#*# 	2.065000:4383363.258,2.105000:4382728.398,2.145000:4382093.728,
#*# 	2.185000:4381439.566,2.225000:4380800.508,2.265000:4380147.506,
#*# 	2.305000:4379521.109,2.345000:4378888.756,2.385000:4378282.841,
#*# 	2.425000:4377655.581,2.465000:4377064.031,2.505000:4376464.479,
#*# 	2.545000:4375881.638,2.585000:4375270.460,2.625000:4374689.881,
#*# 	2.665000:4374126.107,2.705000:4373557.344,2.745000:4373023.860,
#*# 	2.785000:4372485.354,2.825000:4371982.001,2.865000:4371468.511,
#*# 	2.905000:4370975.643,2.945000:4370466.467,2.985000:4369933.978,
#*# 	3.025000:4369424.455,3.065000:4368932.545,3.105000:4368429.903,
#*# 	3.145000:4367969.561,3.185000:4367520.861,3.225000:4367065.594,
#*# 	3.265000:4366607.353,3.305000:4366157.081,3.345000:4365729.645,
#*# 	3.385000:4365294.453,3.425000:4364866.219,3.465000:4364433.035,
#*# 	3.505000:4364005.178,3.545000:4363596.451,3.585000:4363174.185,
#*# 	3.625000:4362763.602,3.665000:4362349.235,3.705000:4361943.606,
#*# 	3.745000:4361538.894,3.785000:4361174.673,3.825000:4360782.389,
#*# 	3.865000:4360402.644,3.905000:4360003.308,3.945000:4359629.288,
#*# 	3.985000:4359255.355,4.025000:4358910.546,4.065000:4358540.538,
#*# 	4.105000:4358178.146,4.145000:4357834.485,4.185000:4357469.994,
#*# 	4.225000:4357126.687,4.265000:4356788.721
#*# tap_threshold = 5799.661
#*#
#*# [temperature_probe fly_eddy_probe]
#*# calibration_temp = 52.894808
#*# drift_calibration =
#*# 	4446234.897942, -116.731295, -1.712029
#*# 	4426977.981386, 26.454736, -2.646949
#*# 	4411576.254322, 99.866700, -2.946926
#*# 	4398635.137948, 151.307337, -3.082733
#*# 	4387799.001775, 200.248456, -3.346106
#*# 	4378742.196921, 241.315129, -3.606811
#*# 	4371304.335887, 260.405166, -3.606689
#*# 	4364912.972135, 285.949902, -3.747878
#*# 	4359703.622622, 298.153785, -3.760671
#*# drift_calibration_min_temp = 26.31144979287265
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.543
#*# pid_ki = 0.639
#*# pid_kd = 149.499
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 75.823
#*# pid_ki = 1.610
#*# pid_kd = 892.819
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.094050, -0.096166, -0.094442
#*# 	  -0.081243, -0.078999, -0.074915
#*# 	  -0.065894, -0.063464, -0.057973
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.5
#*# min_x = 109.167
#*# max_x = 137.767
#*# min_y = 39.5813
#*# max_y = 67.5813
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 73.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.8
